/* Mobile Navigation*/
.icon-mobile-nav{
    height: 4.4rem;
    width: 4.4rem;
    color: #000;
    
}

.btn-mobile-nav{
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

.icon-mobile-nav[name="close-outline"]{
    display: none;
}
.btn:link,
.btn:visited
{
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    background-color: #1a254f;
    color: #fff;
    /* border: 1px solid #fff; */
    padding: 2rem 3.2rem;
    margin-top: 1.8rem;
    border-radius: 9px;
    transition: all 0.3s;
    cursor: pointer;
    letter-spacing: 0.2rem;
    
}

.btn:hover,
.btn:active{
    
    background-color: #4d5676;
    color: #fff;  
}



.section-about-us{
    background-color: #fff;
    padding: 4.8rem 9.6rem;
}


.Montoya-img-2{
    width: 100%;
    height: 100%;
    border-radius: 9px;
}
.Montoya-img{
    border-radius: 9px;
}

.Montoya-text{
    font-size: 1.6rem;
    line-height: 1.8; 
 }
.Montoya-icons{
    color: #4d5676;
    display: block;
    font-size: 5.2rem;
    margin-bottom:  1.2rem;
}

.Montoya-text-box{
    display: flex;
    flex-direction: column;
    justify-content: start;
}


.Montoya-picture-box-2{
    display: flex;
    justify-content: start;
    width: 60%;
    height: auto;
}

.section-plaque{
    padding: 9.6rem 0;
}


/* #caccd6 */
.achieBox{
    width:40rem;
    height: 35rem;
    border: 1px solid #5f6784;
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    cursor: pointer;
    box-shadow: 0 3.2rem 6.4rem rgba(0,0,0,0.06);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.achivementTitle{
    font-size: 3.6rem;
    margin: 2.4rem 0;
}
.TextAchievement-box{
    text-align: center;
    margin: 2rem 0;
}
.TextAchievement{
    font-size: 3rem;
    
}

.achieveImage{
 width: 100%;
 height: 100%;
 transition: all 0.4s;

}

.achieveImage2{
    width: 100%;
    height: 100%;
    transition: all 0.4s;
   }

.achieveImage:hover{
    transform: scale(1.1);
    cursor: pointer;
   }

   .achieveImage2:hover{
    transform: scale(1.1);
    cursor: pointer;
   }
   
.features-container{
    padding: 0 9.6rem;
}
.section-features{
    background-color:#caccd6;
    padding: 9.6rem 0;;
}


.card-course{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    
}
.card-img{
    width: 100%;
    border-radius: 9px;
    box-shadow: 0 3.2rem 6.4rem rgba(0,0,0,0.08);
    object-fit: cover;
    
}

.card-img2{
    width: 100%;
    height: 100%;
    border-radius: 9px;
    box-shadow: 0 3.2rem 6.4rem rgba(0,0,0,0.08);
    
   
}

.card-body{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius: 6px;   
    padding: 2.4rem;
    transition: all 1.5s;
}

.card-course:hover .card-body{
    right: 0;
}
.card-title{
color: #fff;
font-size: 2.4rem;
margin-top: 0rem;
margin-bottom: 2.4rem;
}

.card-info{
    color: #fff;
    font-size: 1.5rem;
    margin:0rem 0;
    width:70% ;
}

.btn-btn:link,.btn-btn:visited{
    display: inline-block;
    text-decoration: none;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    background-color: #fff;
     width:36%;
     color: #111;
    /* border: 1px solid #fff; */
    padding: 1.6rem 3.2rem;
    margin-top: 1.8rem;
    border-radius: 9px;
    transition: all 0.3s;
    cursor: pointer;
    letter-spacing: 0.2rem;
}

.btn-btn:hover,.btn-btn:active{
    background-color: #5f6784;
}

.section-contactUs{
    width: auto;
    height: 40rem;
    background-color: #fff;
    padding: 4.8rem 0 9.6rem 0;
}

.contactUs-box{
    width: 60%;
    height:auto;
    margin:auto;
    display: flex;
    /* flex-wrap: wrap; */
    padding: 1rem;
    background-color:#1a254f ;
    box-shadow: 0 2.4rem 4.8rem rgba(0,0,0,0.2);
    border-radius: 9px;
    overflow: hidden;
    
}

.contact-map{
    width: 100%;
    height: auto;
    flex:50%;
    border-radius: 9px;
    overflow: hidden;
}

.contact-map iframe{
    width: 100%;
    height: 100%;
}


.contact-form{
    padding: 3rem;
    width: 100%;
    height: 100%;
    flex:50%;
}

.contact-form h2{
    font-size: inherit;
   text-align: center;
    font-size:2.4rem;
    color: #fff;
    margin-bottom: 1rem;

} 

.Aboutust{
    width: auto;
    display: flex;
    gap: 2rem;
    }



.contact-form-text{
    font-family: inherit;
    width: 100%;
    height: 1rem;
    color: #000;
    font-size: 2.4rem;
    border: 0.1rem solid #bcbcbc;
    outline: none;
    margin-bottom: 1rem;
    padding: 1.5rem;
    box-shadow:0 1px 2px rgba(0,0,0,0.1); 
}
.contact-form-text::placeholder{
    color: #aaa;
}

.ABoutUs-box{
    width: 50%;
}
.contact-form-textarea{
    width: 100%;
    height: 8rem;
    color: #000;
    font-size: 2.4rem;
    border: 0.1rem solid #bcbcbc;
    outline: none;
    margin-bottom: 3rem;
    padding: 1.5rem;
    box-shadow:0 1px 2px rgba(0,0,0,0.1); 

}

#interest,
#location
{
    height:2.4rem;
    width: 100%;
}



.Locatiion{
    width: 100%;
    display: flex;
    gap: 2rem;
}

.Selection-Box{
    width: 100%;
}
#Selection{
    font-family: inherit;
    width: 100%;
    height: 7rem;
    color: #000;
    font-size: 2.4rem;
    border: 0.1rem solid #bcbcbc;
    outline: none;
    margin-bottom: 2rem;
    padding: 1.5rem;
    box-shadow:0 1px 2px rgba(0,0,0,0.1); 
}

.contact-form-textarea::placeholder{
    font-size: inherit;
    color: #aaa;
    font-size: 
}

.contact-form label{
    font-size: inherit;
   display: block;
   font-size: 1.3rem;
   font-weight: 500;
   margin-bottom: 1.2rem;
   color:#fff;
}

.contact-form-btn{
    font-family: inherit;
    letter-spacing: 0.1px;
    width: 100%;
    height: 4rem;
    border: none;
    outline: none;
    font-size: 2rem;
    background-color:#fff;
    color:#000;
    text-transform: uppercase;
    padding: 1rem 0;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: all .3s;


}

.contact-form-btn:hover{
    background-color: #4d5676;
    color: #fff;
}



.containing{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 150rem;
    padding-top: 8rem;
    justify-content: space-between;
}

.text-selling-form{
    padding: 1.6rem 2%;
    align-self: stretch;
    flex: 1;
}

.text-selling-box{
   width: 35%;
   flex: 0 0 auto;
}
.text-selling-header{
    font-size: 6rem;
    line-height: 1.2;
    font-weight: 700;
}
.container-form form{
display: flex;
flex-direction: column;

}

.Message-selling{
    font-family: inherit;
    font-size: 2.2rem;
    width: 100%;
    height: 9rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem; 
    padding-left: 1rem;  
    
}
.container-form textarea{
    font-family: inherit;
    box-shadow:0 1px 2px rgba(0,0,0,0.4);
}

.container-form textarea::placeholder{
    font-size: 2.6rem;
}
.container-form input::placeholder{
    font-size: 2.6rem;
}

#Valuation-type{
    font-size: 2.4rem;
    font-family: inherit;
    height: 7rem;
    margin-bottom: 2rem;
    box-shadow:0 1px 2px rgba(0,0,0,0.4);
    padding-left: 1rem;
}

.beds-bathrooms{
    display: flex;
    margin-bottom: 2rem;
    gap:1rem;
}
#Number-of-beds{
    width: 50%;
    height: 7rem;
    font-size: 2.4rem;
    font-family: inherit;
    box-shadow:0 1px 2px rgba(0,0,0,0.4);
    padding-left: 1rem;
}

#Number-of-baths{
    width: 50%;
    height: 7rem;
    font-size: 2.4rem;
    font-family: inherit;
    box-shadow:0 1px 2px rgba(0,0,0,0.4);
    padding-left: 1rem;
}
.address-line{
    margin-bottom: 2rem;
    height: 7rem;
    font-size: 2.4rem;
    font-family: inherit;
    box-shadow:0 1px 2px rgba(0,0,0,0.4);
    padding-left: 1rem;
}

.city-line{
    margin-bottom: 2rem;
    height: 7rem;
    font-size: 2.4rem;
    font-family: inherit;
    box-shadow:0 1px 2px rgba(0,0,0,0.4);
    padding-left: 1rem;
}
.addressing{
    display: flex;
    margin-bottom: 2rem;
    gap:1rem;
}
#State{
    width: 50%;
    height: 7rem;
    font-size: 2.4rem;
    font-family: inherit;
    box-shadow:0 1px 2px rgba(0,0,0,0.4);
    padding-left: 1rem;
}

.zipcode-line{
    width: 50%;
    height: 7rem;
    font-size: 2.4rem;
    font-family: inherit;
    box-shadow:0 1px 2px rgba(0,0,0,0.4);
    padding-left: 1rem;
}

.Name-line{
    margin-bottom: 2rem;
    height: 7rem;
    font-size: 2.4rem;
    font-family: inherit;
    box-shadow:0 1px 2px rgba(0,0,0,0.4);
    padding-left: 1rem;
}

.email-line{
    height: 7rem;
    font-size: 2.4rem;
    font-family: inherit;
    box-shadow:0 1px 2px rgba(0,0,0,0.4);
    padding-left: 1rem;
    margin-bottom: 2rem;
}

.button-value{
    font-family: inherit;
    text-transform: uppercase;
    height: 7rem;
    font-size: 2.4rem;
    background-color: #000d3b;
    color:#fff;
    transition: background-color 400ms ease-in-out, color 400ms ease-in-out;
}

.button-value:hover{
    background-color: #4d5676;
}

.text-selling{
    font-size: 3rem;
}